In [1]:
import pandas as pd

In [2]:
ds0 = pd.read_csv('../01_source/xls-dataset.csv', sep=';')
ds0.head()

,expediente,name,acao,grupo_assunto,assunto
0,02.000.00030/2017,02000000302017_6761978_Mandado_de_Intimacao_-_...,9,25,531; 716; 972
1,02.000.00035/2017,02000000352017_6774071_20170119_MANDADO_DE_CIT...,50,27,50; 254; 531; 558; 613; 620; 780
2,02.000.00136/2017,02000001362017_6855379_20170127_PROCESSO_INTEG...,47,26,716; 975
3,02.000.00136/2017,02000001362017_7321216_20170210_PETICAO_INICIA...,47,26,716; 975
4,02.000.00145/2017,02000001452017_6901508_20170131_MANDADO_INTIMA...,43,11,246

In [3]:
ds0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 888 entries, 0 to 887
Data columns (total 5 columns):
expediente       888 non-null object
name             888 non-null object
acao             888 non-null int64
grupo_assunto    888 non-null int64
assunto          888 non-null object
dtypes: int64(2), object(3)
memory usage: 34.8+ KB

In [4]:
#ds1 = pd.read_csv('../02_azure/api-dataset.csv', sep=';')
ds1 = pd.read_csv('../02_pdf_extration/pdf-dataset.csv', sep=';')
ds1.head()

,Unnamed: 0,name,text
0,0,02000000122017_7284093_PETICAO_INICIAL_0002305...,Enilson Campos de Sousa OAB/AM n°. 1.589 \nSOU...
1,1,02000000182017_6739022_RT_00009552320165110201...,\n\n\n\n\n\n\n\n\nEXCELENTÍSSIMO (A) SENHOR (A...
2,2,02000000212017_6758941_PETICAO_INICIAL_RENATA.pdf,\n \n \n \n \nPágina \n1\n \nde \n16\n \n \nE...
3,3,02000000222017_6758570_PETICAO_INICIAL__ROGERI...,\n \n \n \n \nEXMO(A). SR(A). DR(A). JUIZ(A) ...
4,4,02000000302017_6761978_Mandado_de_Intimacao_-_...,b'PROCESSO:\nCLASSE:\nAUTOR:\nREU:\n\nPCTT: 92...

In [5]:
ds1 = ds1.drop(['Unnamed: 0'], axis=1)
ds1.head()

,name,text
0,02000000122017_7284093_PETICAO_INICIAL_0002305...,Enilson Campos de Sousa OAB/AM n°. 1.589 \nSOU...
1,02000000182017_6739022_RT_00009552320165110201...,\n\n\n\n\n\n\n\n\nEXCELENTÍSSIMO (A) SENHOR (A...
2,02000000212017_6758941_PETICAO_INICIAL_RENATA.pdf,\n \n \n \n \nPágina \n1\n \nde \n16\n \n \nE...
3,02000000222017_6758570_PETICAO_INICIAL__ROGERI...,\n \n \n \n \nEXMO(A). SR(A). DR(A). JUIZ(A) ...
4,02000000302017_6761978_Mandado_de_Intimacao_-_...,b'PROCESSO:\nCLASSE:\nAUTOR:\nREU:\n\nPCTT: 92...

In [6]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2070 entries, 0 to 2069
Data columns (total 2 columns):
name    2070 non-null object
text    2070 non-null object
dtypes: object(2)
memory usage: 32.4+ KB

In [7]:
list(set(ds0.name) - set(ds1.name))[:5]

['03001000132017_6643147_0002142-79.2016.8.05.0105.pdf ',
 '12000001092017_6760731_INICIAL_-_LIONEL_BARBALHO.pdf ',
 '03001001092017_6820598_00047022320164013311_PARTE_8.pdf ',
 '11000005562017_6995233_INICIAL_(3).pdf ',
 '04000002052017_6752157_NP00644978120164013400GR1_DT03112016.pdf ']

In [8]:
ds0.name = ds0.name.str.strip()
list(set(ds0.name) - set(ds1.name))[:5]

['03001000872017_6771529_MAURA_CARDOSO_DOS_SANTOS________________.zip',
 '02001000662017_6773455_PETICAO_NP00055730520164014200GR1.zip',
 '04000007692017_7675564_INICIAL.PDF',
 '03001002402017_6929290_ATENILSON_OLIVEIRA_SANTOS_______________.zip',
 '03001000372017_6660874_ANEXO_GINAMERICO_ANDRADE_CRUZ.zip']

In [9]:
ds0.name = ds0.name.str.lower()
ds1.name = ds1.name.str.lower()
list([i for i in list(set(ds0.name) - set(ds1.name)) if not i.endswith('.pdf') and not i.endswith('.zip')])

['08000006432017_6837760_369411.2016.4.01.3505.msg',
 '08000006422017_6837758_30532320164013505.msg',
 '08000007422017_6893066_copia_do_processo_-_225386-26.2016.8.09.0175_-_luiza_bella_carvalho_correia.m',
 '03001002762017_7014222_9459-72.2016.4.01.3307_-_edgar_barreto_dos_santos_(representado_por_angela_ma',
 '12000001112017_6759742_inicial_-_antonio_pereira_dos_santos.doc']

In [10]:
ds2 = ds0.merge(ds1)

In [11]:
ds2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 846 entries, 0 to 845
Data columns (total 6 columns):
expediente       846 non-null object
name             846 non-null object
acao             846 non-null int64
grupo_assunto    846 non-null int64
assunto          846 non-null object
text             846 non-null object
dtypes: int64(2), object(4)
memory usage: 46.3+ KB

In [12]:
ds2.to_csv('merged-dataset.csv', sep=';')