In [1]:
import pandas as pd
import numpy  as np

In [2]:
len_exp  = lambda x: len(str(x)) == 17
len_seq  = lambda x: len(str(x)) == 7
splitfix = lambda x: int(x.replace("'", '').strip())
xls = 'dijurcaixa.xls'

In [3]:
sheet = list(pd.read_excel(xls, sheet_name=None).keys())
sheet

['REL. EXPEDIENTES ELENCADOS',
 'REL. DOCUMENTOS COPIADOS',
 'COLUNAS A APRESENTAR',
 'Correlação GRUPO_ASSUNTOxASSUNT']

In [4]:
xls0 = pd.read_excel(xls, sheet_name=sheet[0])
xls0.head()

   04.000.00103/2017
0  04.000.00104/2017
1  04.000.00105/2017
2  08.000.00343/2017
3  03.000.00735/2017
4  08.000.00395/2017

In [5]:
xls0 = pd.read_excel(xls, sheet_name=sheet[0],header=None)
xls0.columns = ['expediente']
xls0.head()

          expediente
0  04.000.00103/2017
1  04.000.00104/2017
2  04.000.00105/2017
3  08.000.00343/2017
4  03.000.00735/2017

In [6]:
xls0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238 entries, 0 to 1237
Data columns (total 1 columns):
expediente    1238 non-null object
dtypes: object(1)
memory usage: 9.8+ KB

In [7]:
xls0.expediente.describe()

count                  1238
unique                 1238
top       03.001.00236/2017
freq                      1
Name: expediente, dtype: object

In [8]:
all(xls0.expediente.apply(len_exp))

True

In [9]:
xls1 = pd.read_excel(xls, sheet_name=sheet[1])
xls1.head()

,iSequencial GED,Expediente,iCodDocumento,Nome do Arquivo
0,6622932,03.000.00001/2017,5070,03000000012017_6622932_inicial_lorena.pdf
1,6626319,16.000.00003/2017,5070,16000000032017_6626319_p.i..pdf
2,6626401,16.000.00004/2017,5070,16000000042017_6626401_p.i..pdf
3,6626489,11.000.00001/2017,5070,11000000012017_6626489_00122055920165030077.pdf
4,6627051,04.000.00001/2017,5083,04000000012017_6627051_NP00017480420165100002G...

In [10]:
xls1.columns = ['sequencial', 'expediente', 'cod', 'name']
xls1.head()

,sequencial,expediente,cod,name
0,6622932,03.000.00001/2017,5070,03000000012017_6622932_inicial_lorena.pdf
1,6626319,16.000.00003/2017,5070,16000000032017_6626319_p.i..pdf
2,6626401,16.000.00004/2017,5070,16000000042017_6626401_p.i..pdf
3,6626489,11.000.00001/2017,5070,11000000012017_6626489_00122055920165030077.pdf
4,6627051,04.000.00001/2017,5083,04000000012017_6627051_NP00017480420165100002G...

In [11]:
xls1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2126 entries, 0 to 2125
Data columns (total 4 columns):
sequencial    2126 non-null int64
expediente    2126 non-null object
cod           2126 non-null int64
name          2126 non-null object
dtypes: int64(2), object(2)
memory usage: 66.5+ KB

In [12]:
xls1.sequencial.astype(str).describe()

count        2126
unique       2126
top       6725684
freq            1
Name: sequencial, dtype: object

In [13]:
all(xls1.sequencial.apply(len_seq))

True

In [14]:
xls1.expediente.describe()

count                  2126
unique                 1237
top       02.001.00145/2017
freq                     69
Name: expediente, dtype: object

In [15]:
all(xls1.expediente.apply(len_exp))

True

In [16]:
xls1.expediente.value_counts().head()

02.001.00145/2017    69
02.001.00141/2017    63
02.001.00144/2017    63
02.001.00142/2017    62
02.001.00143/2017    60
Name: expediente, dtype: int64

In [17]:
set(xls0.expediente) ^ set(xls1.expediente)

{'04.000.00679/2017'}

In [18]:
set(xls0.expediente) >= set(xls1.expediente)

True

In [19]:
xls1.cod.astype(str).describe()

count     2126
unique       2
top       5070
freq      1499
Name: cod, dtype: object

In [20]:
xls1.cod.unique()

array([5070, 5083])

In [21]:
df = xls1.loc[:,('expediente', 'cod')]
df.head()

          expediente   cod
0  03.000.00001/2017  5070
1  16.000.00003/2017  5070
2  16.000.00004/2017  5070
3  11.000.00001/2017  5070
4  04.000.00001/2017  5083

In [22]:
df.drop_duplicates(inplace=True)
df = df.expediente.value_counts()
df.head()

11.003.00037/2017    2
10.000.00888/2017    2
02.000.00144/2017    2
04.000.00780/2017    2
10.000.00107/2017    2
Name: expediente, dtype: int64

In [23]:
ls = df[df != 1].index.values
ls

array(['11.003.00037/2017', '10.000.00888/2017', '02.000.00144/2017',
       '04.000.00780/2017', '10.000.00107/2017', '04.000.00279/2017',
       '12.000.01447/2017', '02.000.00186/2017', '10.000.00110/2017',
       '10.000.00198/2017', '11.000.05697/2017', '10.000.00109/2017',
       '04.000.00132/2017', '04.000.00753/2017', '08.000.00877/2017',
       '04.000.00136/2017', '04.000.00131/2017', '11.000.00665/2017',
       '04.000.00716/2017', '04.000.01871/2017', '04.000.01283/2017',
       '04.000.01263/2017', '04.000.00137/2017', '10.000.00108/2017',
       '04.000.00130/2017', '02.000.00145/2017', '02.001.00153/2017'],
      dtype=object)

In [24]:
xls1.name.describe()

count                                                 2126
unique                                                2126
top       03001001112017_6821231_00040267520164013311.pdf
freq                                                     1
Name: name, dtype: object

In [25]:
xls2 = pd.read_excel(xls, sheet_name=sheet[2])
xls2.head(n=4).T

,0,1,2,3
Cod. Expediente,02.000.00030/2017,02.000.00030/2017,02.000.00030/2017,02.000.00030/2017
Nome da Parte,BANCO DO BRASIL SA,BASA BANCO DA MAZONIA,BNDES BANCO NACIONAL DO DESENVOLVIMENTO ECONOM...,MINISTERIO PUBLICO FEDERAL
Situacao da Parte,4,4,4,1
CPF/CNPJ/CEI da Parte,353,4.90298e+12,3.36572e+13,2.69897e+13
Contratos da Parte,RCMN35482008; RCMN38762010,RCMN35482008; RCMN38762010,RCMN35482008; RCMN38762010,RCMN35482008; RCMN38762010
Matricula,NaN,NaN,NaN,NaN
Processo,00163747020164013200,00163747020164013200,00163747020164013200,00163747020164013200
Dt. Entrada,2017-01-19 00:00:00.000,2017-01-19 00:00:00.000,2017-01-19 00:00:00.000,2017-01-19 00:00:00.000
Vara,7,7,7,7
Acao,9,9,9,9
Foro,8,8,8,8
Area Judicial,2,2,2,2
Comarca,2,2,2,2
Situacao Caixa,2,2,2,2
Advogado,142919,142919,142919,142919
Centro de Custo,5128,5128,5128,5128
Unidade Subsidio,5128,5128,5128,5128
Exito(%),2,2,2,2
Dt. Causa,2017-01-18 00:00:00.000,2017-01-18 00:00:00.000,2017-01-18 00:00:00.000,2017-01-18 00:00:00.000
Vr. Causa,1.80309e+07,1.80309e+07,1.80309e+07,1.80309e+07
Vr. Causa Atual,1.82883e+07,1.82883e+07,1.82883e+07,1.82883e+07
Dt. do VPC,NaN,NaN,NaN,NaN
Vr. Prov. Condenacao,NaN,NaN,NaN,NaN
Vr. Prov. Cond. Atual,NaN,NaN,NaN,NaN
Dt. do VRE,2017-01-18 00:00:00.000,2017-01-18 00:00:00.000,2017-01-18 00:00:00.000,2017-01-18 00:00:00.000
Vr. Reperc. Econ.,1.80309e+07,1.80309e+07,1.80309e+07,1.80309e+07
Vr. Reperc. Econ. Atual,1.82883e+07,1.82883e+07,1.82883e+07,1.82883e+07
Grupo Provisão,NaN,NaN,NaN,NaN
% Provisão,NaN,NaN,NaN,NaN
Dt. Provisão,NaN,NaN,NaN,NaN
Vr. Provisão,NaN,NaN,NaN,NaN
Grupo de Assunto,25,25,25,25
Assunto,531; 716; 972,531; 716; 972,531; 716; 972,531; 716; 972
Operação,NaN,NaN,NaN,NaN

In [26]:
# cols = ['Cod. Expediente', 'Acao', 'Grupo de Assunto', 'Assunto']
ls = [0, 9, 31, 32]
xls2 = pd.read_excel(xls, sheet_name=sheet[2], usecols=ls)
xls2.columns = ['expediente', 'acao', 'grupo_assunto', 'assunto']
xls2.head()

          expediente  acao  grupo_assunto                           assunto
0  02.000.00030/2017     9             25                     531; 716; 972
1  02.000.00030/2017     9             25                     531; 716; 972
2  02.000.00030/2017     9             25                     531; 716; 972
3  02.000.00030/2017     9             25                     531; 716; 972
4  02.000.00035/2017    50             27  50; 254; 531; 558; 613; 620; 780

In [27]:
xls2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 4 columns):
expediente       1018 non-null object
acao             1018 non-null int64
grupo_assunto    1018 non-null int64
assunto          1018 non-null object
dtypes: int64(2), object(2)
memory usage: 31.9+ KB

In [28]:
xls2.expediente.describe()

count                  1018
unique                  728
top       03.000.01310/2017
freq                     15
Name: expediente, dtype: object

In [29]:
all(xls2.expediente.apply(len_exp))

True

In [30]:
xls2.expediente.value_counts().head()

03.000.01310/2017    15
04.000.02834/2017    14
08.000.00466/2017     9
09.000.00498/2017     8
08.000.00654/2017     7
Name: expediente, dtype: int64

In [31]:
xls2[xls2.expediente == '08.000.00766/2017']

            expediente  acao  grupo_assunto assunto
683  08.000.00766/2017     2             82     397
684  08.000.00766/2017     2             82     397
685  08.000.00766/2017     2             82     397
686  08.000.00766/2017     2             82     397
687  08.000.00766/2017     2             82     397
688  08.000.00766/2017     2             82     397
689  08.000.00766/2017     2             82     397

In [32]:
xls2.drop_duplicates(inplace=True)
xls2.expediente.describe()

count                   728
unique                  728
top       04.000.03381/2017
freq                      1
Name: expediente, dtype: object

In [33]:
all(xls2.expediente.apply(len_exp))

True

In [34]:
xls2.acao.astype(str).describe()

count     728
unique     25
top        50
freq      440
Name: acao, dtype: object

In [35]:
xls2.acao.unique()

array([  9,  50,  47,  43,  22,  67,   8, 227,   1, 217,  24,  14,  10,
        28, 237,  26,   2,   7,  45,  52,  13, 236,  58,  60,  38])

In [36]:
xls2.grupo_assunto.astype(str).describe()

count     728
unique     45
top        27
freq      203
Name: grupo_assunto, dtype: object

In [37]:
xls2.grupo_assunto.unique()

array([25, 27, 26, 11, 28, 82, 22,  3, 15,  4, 93, 14, 32,  5, 18, 23, 12,
        9, 38, 37, 16,  8,  7, 21, 84, 29, 34, 81,  6, 30,  1, 13, 44, 31,
       85, 94, 24, 20,  2, 19, 36, 79, 45, 33, 35])

In [38]:
ls = xls2.assunto.tolist()
ls[:5]

['531; 716; 972',
 '50; 254; 531; 558; 613; 620; 780',
 '716; 975',
 '246',
 '50; 415; 531; 558; 613; 749']

In [39]:
df = pd.Series([j for i in ls for j in i.split(';')])
df.head()

0     531
1     716
2     972
3      50
4     254
dtype: object

In [40]:
df.describe()

count     2158
unique     224
top         50
freq       490
dtype: object

In [41]:
len(set(xls1.expediente) ^ set(xls2.expediente))

509

In [42]:
set(xls1.expediente) >= set(xls2.expediente)

True

In [43]:
xls3 = pd.read_excel(xls, sheet_name=sheet[3])
xls3.head()

   NU_GRUPO_ASSUNTO  NU_ASSUNTO
0                 1          22
1                 1          95
2                 1          97
3                 1         531
4                 1         551

In [44]:
domain = xls3.to_records(index=False).tolist()
domain[:5]

[(1, 22), (1, 95), (1, 97), (1, 531), (1, 551)]

In [45]:
ls = xls2.loc[:, ('grupo_assunto', 'assunto')].to_records().tolist()
ls[:5]

[(0, 25, '531; 716; 972'),
 (4, 27, '50; 254; 531; 558; 613; 620; 780'),
 (5, 26, '716; 975'),
 (6, 11, '246'),
 (8, 27, '50; 415; 531; 558; 613; 749')]

In [46]:
codomain = [(int(i[1]), splitfix(j)) for i in ls for j in i[2].split(';')]
codomain[:5]

[(25, 531), (25, 716), (25, 972), (27, 50), (27, 254)]

In [47]:
set(codomain) -  set(domain)

{(8, 684),
 (13, 77),
 (13, 530),
 (14, 530),
 (15, 530),
 (18, 530),
 (19, 530),
 (22, 530),
 (23, 530),
 (25, 530),
 (27, 530),
 (28, 34),
 (28, 397),
 (28, 448),
 (28, 468),
 (28, 530),
 (28, 558),
 (82, 530),
 (85, 50),
 (85, 530)}

In [48]:
ls = [i[0] for i in ls for j in i[2].split(';') if (i[1], splitfix(j)) not in domain]
df = xls2.loc[ls]
df

            expediente  acao  grupo_assunto                          assunto
370  04.000.01253/2017    47              8                         531; 684
405  04.000.02401/2017   237             85                               50
406  04.000.02424/2017   237             85                               50
491  08.000.00291/2017    50             22           50; 416; 476; 530; 958
492  08.000.00292/2017    50             18           50; 394; 530; 604; 749
494  08.000.00293/2017    50             28                     50; 530; 780
497  08.000.00294/2017   227             27                    530; 566; 663
515  08.000.00345/2017    50             28                50; 530; 640; 749
516  08.000.00348/2017    50             15                50; 248; 530; 943
517  08.000.00349/2017    50             27                50; 231; 530; 780
520  08.000.00357/2017    50             22                     50; 416; 530
541  08.000.00426/2017    50             27                50; 156; 231; 530
542  08.000.00431/2017    50             27                50; 197; 530; 780
543  08.000.00439/2017    50             28                50; 379; 530; 749
544  08.000.00440/2017    50             14                50; 468; 530; 681
546  08.000.00455/2017    50             27                     50; 231; 530
547  08.000.00456/2017    50             27                     50; 231; 530
548  08.000.00457/2017    50             27                     50; 231; 530
549  08.000.00458/2017    50             27                     50; 231; 530
569  08.000.00485/2017    50             19                50; 376; 530; 701
574  08.000.00493/2017    50             27                50; 231; 530; 636
575  08.000.00499/2017    50             27                     50; 231; 530
584  08.000.00509/2017    50             27           50; 231; 530; 636; 780
585  08.000.00510/2017    50             27           50; 231; 530; 636; 780
586  08.000.00511/2017    47             27                50; 231; 530; 780
588  08.000.00513/2017    50             27           50; 231; 530; 636; 780
589  08.000.00514/2017    50             27           50; 231; 530; 636; 780
590  08.000.00515/2017    50             27           50; 231; 530; 636; 780
591  08.000.00516/2017    50             27           50; 231; 530; 636; 780
592  08.000.00520/2017    50             27                     50; 231; 530
593  08.000.00521/2017    50             27                     50; 231; 530
594  08.000.00524/2017    50             27                     50; 231; 530
611  08.000.00562/2017    50             18                50; 530; 604; 716
612  08.000.00565/2017    50             27                     50; 231; 530
621  08.000.00600/2017    50             82                50; 397; 530; 780
627  08.000.00624/2017    50             82                50; 397; 530; 641
628  08.000.00633/2017    10             25                         530; 749
656  08.000.00683/2017    50             27           50; 231; 530; 613; 749
661  08.000.00698/2017    47             82                50; 225; 397; 530
671  08.000.00738/2017    50             82                     50; 397; 530
693  08.000.00843/2017    50             82                50; 397; 530; 641
705  08.000.03365/2017    50             23                50; 530; 558; 749
707  08.001.00142/2017    47             13                     77; 530; 724
707  08.001.00142/2017    47             13                     77; 530; 724
884  11.000.00302/2017    50             28  34; 50; 397; 448; 468; 558; 640
884  11.000.00302/2017    50             28  34; 50; 397; 448; 468; 558; 640
884  11.000.00302/2017    50             28  34; 50; 397; 448; 468; 558; 640
884  11.000.00302/2017    50             28  34; 50; 397; 448; 468; 558; 640
884  11.000.00302/2017    50             28  34; 50; 397; 448; 468; 558; 640
963  11.000.04792/2017    47             85                              530
966  11.000.05673/2017    47             85                              530

In [49]:
df = xls2.drop(ls)
df = df.merge(xls1.loc[:,('expediente', 'name')])
df.head()

,expediente,acao,grupo_assunto,assunto,name
0,02.000.00030/2017,9,25,531; 716; 972,02000000302017_6761978_Mandado_de_Intimacao_-_...
1,02.000.00035/2017,50,27,50; 254; 531; 558; 613; 620; 780,02000000352017_6774071_20170119_MANDADO_DE_CIT...
2,02.000.00136/2017,47,26,716; 975,02000001362017_6855379_20170127_PROCESSO_INTEG...
3,02.000.00136/2017,47,26,716; 975,02000001362017_7321216_20170210_PETICAO_INICIA...
4,02.000.00145/2017,43,11,246,02000001452017_6901508_20170131_MANDADO_INTIMA...

In [50]:
df = df[['expediente', 'name', 'acao', 'grupo_assunto', 'assunto']]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 888 entries, 0 to 887
Data columns (total 5 columns):
expediente       888 non-null object
name             888 non-null object
acao             888 non-null int64
grupo_assunto    888 non-null int64
assunto          888 non-null object
dtypes: int64(2), object(3)
memory usage: 41.6+ KB

In [52]:
df.to_csv('xls-dataset.csv', sep=';', index=False)